body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  aspect-ratio: 3/4;
}
/* .index {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
} */
/* .index-2 {
  z-index: 1;
   margin-top: 70px; 
 margin-left: 200px; 
} */
